      <!--INICIO DO CONTEUDO-->
      <section class="content-header">
      </section>

      <section class="content">
        <section class="invoice">

          <form [formGroup]="orderForm" novalidate>
            <div class="row">
                  <div class="col-xs-12">
                    <h2 class="page-header">
                      <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                    </h2>
                  </div>
                </div>                

                <div class="row">
                  <div class="col-xs-12 col-sm-9">
                    <p class="lead">Seus dados:</p>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')">Os emails não conferem.</span>

                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <mt-input-container label="Nome" messageError="Campo obrigatório. Mínimo 5 caracteres.">
                      <input type="text"  class="form-control" id="name" formControlName="name" autocomplete="off" placeholder="Nome">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Email" messageError="Email inválido.">
                      <input type="text"  class="form-control" id="email" formControlName="email"  autocomplete="off" placeholder="Email">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Confirmação do email" messageError="Email inválido.">
                      <input type="text"  class="form-control" id="email_confirmation" formControlName="email_confirmation" autocomplete="off" placeholder="Confirmação do email">
                    </mt-input-container>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead">Endereço de Entrega:</p>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <mt-input-container label="Endereço" messageError="Campo obrigatório. Mínimo 5 caracteres.">
                      <input type="text"  class="form-control" id="address" formControlName="address" autocomplete="off" placeholder="Endereço">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Número" messageError="Campo obrigatório. Apenas números.">
                      <input type="text"  class="form-control" id="port_number" formControlName="port_number" autocomplete="off" placeholder="Número">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Complemento" messageError="">
                      <input type="text"  class="form-control" id="complement" formControlName="complement" autocomplete="off" placeholder="Complemento">
                    </mt-input-container>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead">Itens do Pedido:</p>
                  </div>
                  <div class="col-xs-12 table-responsive">
                    <mt-order-items [items]="cartItems()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)" (remove)="remove($event)"></mt-order-items>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                  <!-- accepted payments column -->
                  <div class="col-sm-6 col-xs-12">
                    <p class="lead">Formas de Pagamento:</p>
                    <div class="form-group">
                    
                      <mt-radio [options]="paymentOptions" formControlName="payment_option"></mt-radio>

                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-6 col-xs-12">
                      <mt-delivery-costs *ngIf="cartItems().length" [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>
                  </div>
                  <!-- /.col -->
                </div>

              </form>

              <div class="row">
                <div class="col-xs-12">
                  <!-- a href="order-summary.html" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
                  </!-->
                  <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right" [disabled]="orderForm.invalid || !cartItems().length"><i class="fa fa-credit-card"></i> Concluir Pedido</button>
                </div>
              </div>

          </section>
      </section>
      <!-- FIM DO CONTEUDO-->
